<%= simple_form_for @film, remote: true do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>
      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :title %>
    <%= f.input :year, :start_year => 1960  %>
    <%= f.input :studio_id, :collection => Studio.all, :selected => :id  %>
    <%= f.input :watched %>
    <%= f.input :bluray %>
    <%= f.input :dvd %>
    <%= f.input :drive %>
    <%= f.input :youtube %>
    <%= f.input :streaming %>
    <%= f.input :buy %>

  <div class="rating-form form">
    <%= f.label :rating %><br />
    <%= f.radio_button(:rating, 1,  class: "star") %>
    <%= f.radio_button(:rating, 2,  class: "star") %>
    <%= f.radio_button(:rating, 3,  class: "star") %>
    <%= f.radio_button(:rating, 4,  class: "star") %>
    <%= f.radio_button(:rating, 5,  class: "star") %>
    <%= f.radio_button(:rating, 6,  class: "star") %>
    <%= f.radio_button(:rating, 7,  class: "star") %>
    <%= f.radio_button(:rating, 8,  class: "star") %>
    <%= f.radio_button(:rating, 9,  class: "star") %>
    <%= f.radio_button(:rating, 10,  class: "star") %>
    <br />
  </div>
  <%= f.input :director_id, :collection => Director.all, :selected => :id  %>
  <%= f.input :notes %>
  <div class="actions">
    <%= f.submit  'Submit', :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>
