<div class="links clearfix">
    <%= link_to "Add New Film",  new_film_path, class: 'btn add-btn' %>
</div>
<img src='<%= @poster %>' />
<%= @test %>
<table class="films-table">
    <thead>
        <tr>
          <th>Year</th>
          <th>Title</th>
          <th>Director</th>
          <th>Rating</th>
          <th>Studio</th>
          <th>Watch</th>
          <th>Modify</th>
        </tr>
    </thead>
    <tbody>
<% @films.each do |film| %>
  <tr class="<%= cycle('even', 'odd') -%>">
    <td class="film-year"><%= film.year.year %></td>
    <td class="film-title"><a href="#"><%= film.title %></a></td>
    <td><%= film.director %></td>
    <td><% (1..10).each do |n| %>
            <% if n==film.rating %>
                <input name="star<%= film.id %>" type="radio" class="star" disabled="disabled" checked="checked"/>
            <% else %>
                <input name="star<%= film.id %>" type="radio" class="star" disabled="disabled"/>
            <% end %>
        <% end %>
    </td>
    <td><%= film.studio %></td>
    <td>
         <% if film.bluray %>
            <i class="watch-icon icon-cd bluray-icon"></i>
        <% end %>
        <% if film.dvd %>
            <i class="watch-icon icon-cd dvd-icon"></i>
        <% end %>
        <% if film.drive %>
            <i class="watch-icon icon-hdd drive-icon"></i>
        <% end %>
        <% if film.youtube != "" and film.youtube  %>
            <a class="youtube-icon fancybox-media" href="<%= film.youtube %>"><i class="watch-icon icon-youtube"></i></a>
        <% end %>
    </td>
    <td class="modify">
        <%= link_to(edit_film_path(film)) do %><i class="icon-pencil"></i><% end %>
        <%= link_to(film, method: :delete, data: { confirm: 'Are you sure?' }) do %><i class="icon-cancel-circle"></i><% end %>
    </td>
  </tr>
  <tr class="drawer-row">
    <td colspan="7">
        <div class="drawer"></div>
    </td>
  </tr>
<% end %>
</tbody>
</table>
