<h1>Listing films</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Studio</th>
    <th>Rating</th>
    <th>Director</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= film.title %></td>
    <td><%= film.year %></td>
    <td><%= film.studio %></td>
    <td><%= film.rating %></td>
    <td><%= film.director %></td>
    <td><%= film.notes %></td>
    <td><%= link_to 'Show', film %></td>
    <td><%= link_to 'Edit', edit_film_path(film) %></td>
    <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Film', new_film_path %>
