<table class="films-table">
  <tr>
    <th>Year</th>
    <th>Title</th>
    <th>Director</th>
    <th>Rating</th>
    <th>Studio</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= film.year.year %></td>
    <td><%= film.title %></td>
    <td><%= film.director %></td>
    <td><% (1..10).each do |n| %>
            <% if n==film.rating %>
                <input name="star<%= film.id %>" type="radio" class="star" disabled="disabled" checked="checked"/>
            <% else %>
                <input name="star<%= film.id %>" type="radio" class="star" disabled="disabled"/>
            <% end %>
        <% end %>
    </td>
    <td><%= film.studio %></td>
    <td><%= film.notes %></td>
    <td><%= link_to 'Show', film %></td>
    <td><%= link_to 'Edit', edit_film_path(film) %></td>
    <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
