<table class="films-table">
    <thead>
        <tr>
          <th>Year</th>
          <th>Title</th>
          <th>Director</th>
          <th>Studio</th>
          <th>Rating</th>
          <th>Buy</th>
          <th>Watch</th>
        </tr>
    </thead>
    <tbody>
<% @films.each do |film| %>
  <tr class="<%= cycle('even', 'odd') -%>">
    <td class="film-year"><%= film.year.year %></td>
    <td class="film-title"><%= film.title %></td>
    <td><%= film.director.name %></td>
     <td><%= film.studio.name %></td>
    <td><% (1..10).each do |n| %>
            <% if n==film.rating %>
                <input name="star<%= film.id %>" type="radio" class="star" disabled="disabled" checked="checked"/>
            <% else %>
                <input name="star<%= film.id %>" type="radio" class="star" disabled="disabled"/>
            <% end %>
        <% end %>
    </td>

    <td>
         <% if film.buy != '' and film.buy %>
          <a target="_blank" href="<%= film.buy %>"><i class="icon-basket"></i></a>
        <% end %>
    </td>
    <td>
        <% if film.youtube != "" and film.youtube  %>
            <a class="youtube-icon fancybox-media" href="<%= film.youtube %>"><i class="watch-icon icon-youtube"></i></a>
        <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
